@charset "utf-8";
body{
	color: #222;
	font-size: 1.6rem;
	font-family: Arial, "YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-feature-settings : "palt";
    -moz-osx-font-smoothing: grayscale;
	background-color:#fcfcfc;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    
}

/************************************************ 
* プロフィール登録
*************************************************/
.formarea {
    width: 80vw;
    margin: 5vh 10vw;
}

span {
    color: red;
    font-size: 1rem;
}

.comment {
    font-size: 1rem;
}

.block {
    margin: 5vh 0;
}

.title {
    font-size: 1.3rem;
    margin-bottom: 3vh;
}

input {
    width: 30vw;
    height: 3vh;
    font-size: 1.1rem;
}

.sns {
    font-size: 1rem;
}

textarea[name="introduce"]{
    width: 40vw;
    font-size: 1rem;
}

input[name="keyword"]{
    width: 20vw;
}

.word {
    font-size: 1rem;
    background-color: #adbee6;
    padding: 1vh 3vw;
}

.words {
    margin: 0.5vh 3vw 0.5vh 0;
}

.words span {
    margin-left: 2vw;
}

.keywordarea {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sendform {
    width: 60vw;
    background-color: #265dd9;
    text-align: center;
}

.sendBtn {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 2.5vh 20vw;
}

.delete {
    width: 10px;
    height: 10px;
    margin-right:0;
}

/************************************************ 
* メイン
*************************************************/
.header {
    position: fixed;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #7f93c3;
    width: 90vw;
    z-index: 10;
}

.logoarea {
    width: 25vw;
    margin-left: 5vw;
}

.logo {
    width: 200px;
    height: 40px;
    margin-top:10px;
}

.sitename {
    width: 30vw;
    margin: 20px 0;
    text-align: center;
    font-size: 1.8rem;
}

.registerarea {
    width: 20vw;
    margin:25px 5vw;
    text-align: right;
    font-size: 1.2rem;
}

.registerBtn {
    width: 20vw;
    padding: 10px 5vw;
    background-color: #98cd56;
    color: black;
    border-bottom: solid 10px #2e4314;
    border-right: solid 10px #2e4314;
}

.body {
    display: flex;
    position: relative;
    top: 100px;
    width: 90vw;
    z-index: 1;
}

.left {
    width: 20vw;
}

.right {
    width: 70vw;
    padding-left: 20px;
}

/************************************************ 
* プロフィール
*************************************************/
.picture {
    text-align: center;
}

.face {
    max-width: 20vw;
    max-height: 15vw;
}

.change {
    margin-bottom: 10px;
}

.username {
    margin-top: 10px;
}

.snsicon {
    display: flex;
}

.snsicon li {
    margin-left:10px; 
}

.fa-facebook {
    color: #315096;
}

.fa-twitter {
    color: #55acee;
}

.introduce {
    margin-top: 10px;
}

.introduce pre {
    white-space: pre-wrap ;
    font-size: 1.2rem;
}

/************************************************ 
* サイト登録
*************************************************/
/* タイトル・URL入力 */
.siteregisterarea {
    width: 70vw;
    padding: 10px;
    margin-top: 10vh;
}

.inputarea {
    padding-left: 5vw;
}

.btnarea {
    width: 40vw;
    margin-top: 10vh;
    padding-left: 5vw;
}

.btn, .uploadBtn {
    display: inline-block;
    padding: 15px 15vw;
    color: white;
    background-color:#265dd9;
}

/************************************************ 
* サイト一覧
*************************************************/
.lists {
    display: flex;
    flex-wrap:wrap;
    max-width: 70vw;
}


.card {
    width: 25vw;
    margin: 5vh 2.5vw;
    background-color: #dee1e8;
    border-right: solid 6px #adbee6;
    border-bottom: solid 6px #adbee6;

}

.sitetitle {
    margin: 5vh;
}
.siteImg {
    max-width: 20vw;
    padding: 0 2.5vw;
}

